.about {
  padding: 50px 0;

  .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
  }

  h2 {
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    font-size: 25px;
    color: #000000;
    line-height: 1.7;
    max-width: 1000px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

/* ================= TEAM SECTION ================= */

.team-section {
  padding: 10px 20px;

  text-align: center;
}

.team-wrapper {
  max-width: 100%;
  padding :60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-box {
  background: linear-gradient(135deg, #f17575, #963535, #d12626);
  width: 100%;
  max-width: 1200px;
  padding: 90px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.01);
  animation: fadeup 0.6s ease-in-out;
  margin-top: 20px;
}


.team-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #111;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.team-card {
  background: linear-gradient(135deg, #deebb5, #d8cc80);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}



.team-card h3 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #dd5703;
}

.team-card p {
  color: #060101;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  font-size: 20px;
  color: #444;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0077ff;
  transform: scale(1.2);
}

/* ============ Responsive ============ */

@media (max-width: 768px) {
  .about p {
    font-size: 16px;
  }
}