.navbar {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    font-size: 26px;
    font-weight: 700;
  }

  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &:hover {
        color: #008cff;
      }
    }
  }
}