.team-skill-info {
  padding: 90px 0;

  .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
    justify-content: center;

    h2 {
      font-size: 36px;
      margin-bottom: 40px;
      color: #000000;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 30px;
      align-items: justify-content center;
      justify-content: center;
    }

    .skill {
      padding: 35px;
      font-size: 18px;
      font-weight: 600;
      background: linear-gradient(135deg, #a753e3, #6a1b9a);
      border-radius: 12px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
    }
  }
}