body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #51e2f5, #9df9ef, #c6dde8, #ffa8B6, #a28089);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: white;
}