.home-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: linear-gradient(135deg, #ef82ae, #de045b);

  }

  .left {
    flex: 2;

    h1 {
      font-size: 58px;
      font-weight: 700;
      .highlight {
        color: #de045b;
      }
    }

    h2 {
      font-size: 34px;
      margin-top: 5px;
      color: #050505;
    }

    p {
      margin: 15px 20px;
      font-size: 40px;
      line-height: 1.6;
    }

    .team-intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 10px;
      color: #000000;

      .team-name {
        color: #99033f;
        font-weight: 600;
      }
    }

    .btn-group {
      margin-top: 20px;
      display: flex;
      gap: 15px;
      margin: 20px;
      color: #000;
      
     
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 320px;
      border-radius: 50%;
      box-shadow: 0 8px 25px rgba(0,0,0,0.1);
      transition: 0.3s;
    }

    img:hover {
      transform: scale(1.05);
    }
  }
}

/* Mobile responsive */
@media(max-width: 768px) {
  .home-section .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .btn-group {
    justify-content: center;
  }
}